<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:t="http://genshi.edgewall.org/"
      t:with="title='Cross-platform availability of C header files'">
<head>
<meta charset="utf-8"/>
<title t:content="title"/>
<link rel="stylesheet" href="s.css"/>
</head>
<body>
<h1 t:content="title"/>
<table>
  <thead>
    <tr>
      <th class="key" colspan="2">
        <div>
          <div>
            <span class="key-y">Y</span>: present<br/>
            <span class="key-p">P</span>: has prerequisites<br/>
            <span class="key-b">B</span>: unusably buggy<br/>
            <span class="key-n">N</span>: absent<br/>
            If more than one symbol appears, any of<br/>them may apply,
            depending on the<br/>compiler in use. Click for details.
          </div>
        </div>
      </th>
      <th t:for="oc in oscats" class="shift" colspan="${len(oc)}">
        <div class="cl">${oc.name}</div>
      </th>
    </tr>
    <tr t:with="alt=cycle(('o','e'))">
      <th>Standard</th><th>Header></th>
      <t:for each="oc in oscats">
        <th t:for="i, o in enumerate(oc)" class="skew">
          <div class="${alt.next()}${' cl' if i==0 else ''}">
            <div>${o.label} ${o.version}</div>
          </div>
        </th>
      </t:for>
    </tr>
  </thead>
  <tbody>
    <t:for each="std in stds">
      <tr t:for="i, h in enumerate(sorthdr(std))"
          t:with="alt=cycle(('o','e'))">
        <th t:if="i==0" rowspan="${len(std)}" class="std ct">${std.label}</th>
        <th class="h${' ct' if i==0 else ''}">${h}</th>
        <t:for each="oc in oscats">
          <td t:for="j, o in enumerate(oc)"
           class="${alt.next()}${' ct' if i==0 else ''}${' cl' if j==0 else ''}"
           >${o[h].output()}</td>
        </t:for>
      </tr>
    </t:for>
  </tbody>
</table>
<script defer="defer" src="s.js"/>
</body>
</html>
