<?xml version="1.0"?>
<!-- Copyright 2013 Zack Weinberg <zackw@panix.com> and other contributors.
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
     http://www.apache.org/licenses/LICENSE-2.0
     There is NO WARRANTY. -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:t="http://genshi.edgewall.org/"
      t:with="title='Survey of Commonly Available C System Header Files'">
<head>
<meta charset="utf-8"/>
<title t:content="title"/>
<link rel="stylesheet" href="s.css"/>
</head>
<body>
<h1 t:content="title"/>
<p>Many C programs’ build harnesses are unnecessarily cautious in
checking whether various system headers are available, and/or retain
checks for headers that passed into obsolescence more than a decade
ago.  This table documents which headers are ubiquitous and which are
less common; which are standardized, which are merely widespread, and
which are obsolete; and which might be troublesome other than by not
existing everywhere.</p>
<p>This table was last updated on ${update_date}.  The raw data set
and all associated code may be found at
<a href="https://github.com/zackw/header-analysis/"
>https://github.com/zackw/header-analysis/</a>. Comments, suggestions,
improvements, additional OS inventories, etc. are all welcome; please
see <a href="https://github.com/zackw/header-analysis#readme">the
  README</a> in the source repository.</p>
<table>
  <thead class="sticky">
    <tr>
      <th class="keyholder" colspan="2">
        <div class="key-outer">
          <div class="key-inner">
            <span class="key-y">Y</span>: usable<br/>
            <span class="key-p">P</span>: not usable by itself<br/>
            <span class="key-b">B</span>: unusably buggy<br/>
            <span class="key-n">N</span>: absent<br/>
            If more than one symbol appears in a square,<br/>
            which one applies depends on the compiler in use.<br/>
            Click on any symbol
            other than <span class="key-y">Y</span> or
            <span class="key-n">N</span> for more details.
          </div>
        </div>
      </th>
      <th t:for="oc in oscats" class="shift" colspan="${len(oc)}">
        <div class="cl">${oc.name}</div>
      </th>
    </tr>
    <tr t:with="alt=cycle(('o','e'))" class="cb">
      <th class="stdholder">Standard</th>
      <th class="headerholder">Header</th>
      <t:for each="oc in oscats">
        <th t:for="i, o in enumerate(oc)" class="skew">
          <div class="${alt.next()}${' cl' if i==0 else ''}">
            <div>${o.label} ${o.version}</div>
          </div>
        </th>
      </t:for>
    </tr>
  </thead>
  <tbody>
    <t:for each="std in stds">
      <tr t:for="i, h in enumerate(sorthdr(std))"
          t:with="alt=cycle(('o','e'))"
          t:attrs="{ 'class': 'cb' if i==len(std)-1 else None }">
        <th t:if="i==0" rowspan="${len(std)}" class="std">${std.label}</th>
        <th class="h">${h}</th>
        <t:for each="oc in oscats">
          <td t:for="j, o in enumerate(oc)"
              >${o[h].output(alt.next(), 'cl' if j==0 else '')}</td>
        </t:for>
      </tr>
    </t:for>
  </tbody>
</table>
<p>Copyright 2013 Zack Weinberg <code>&lt;zackw@panix.com&gt;</code>
   and other contributors.  Licensed under
   the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache
   License, Version 2.0</a>.</p>
<script defer="defer" src="s.js"/>
</body>
</html>
