@charset "utf-8";
/* Copyright 2013 Zack Weinberg <zackw@panix.com> and other contributors.
   Copying and distribution of this stylesheet, with or without
   modification, is permitted in any medium without royalty provided
   the copyright notice and this notice are preserved.  It is offered
   as-is, without any warranty. */

table {
  margin: 20px 0 0 20px;
  border-spacing: 0;
  border-collapse: separate;
  border: 0;
  padding: 0;
}
thead, tbody, tr, th {
  text-align: left; vertical-align: bottom;
  padding: 0; margin: 0; border: none;
}
th {
  text-align: left; vertical-align: bottom;
  padding: 0 0 0 1ex; margin: 0; border: none;
}
th[rowspan] {
  vertical-align: top;
  padding-top: 4px;
}
td {
  text-align: center; vertical-align: middle;
  padding: 3px 0; margin: 0; border: none;
}

.tableFloatingHeader {
  border-bottom: 1px solid black;
  box-shadow: 0 4px 2px -2px hsla(0,0%,0%,.5);
}

.h /* header */ { font-family: monospace; padding: 0 1ex; vertical-align: middle }
.cl /* category leftmost */ { border-left: 1px solid black; }
.ct /* category topmost */ { border-top: 1px solid black; }
.std /* standard */ { width: 8em }

/* background colors */
thead         { background-color: hsl(0,0%,87%); }
.shift > div  { background-color: hsl(0,0%,87%); }
.e /* even */ { background-color: hsl(0,0%,90%); }
.o /* odd */  { background-color: hsl(0,0%,95%); }

.shift > div.e,
.skew  > div.e { background-color: hsl(0,0%,80%); }
.shift > div.o,
.skew  > div.o { background-color: hsl(0,0%,87%); }

th { font-size: 12px; font-family: sans-serif; }

.shift {
  position: relative;
  padding: 0;
}
.shift > div {
  display: block;
  position: relative;
  bottom: 0px;
  left: 130px;
  height: 30px;
  padding: 3px 0;
  overflow: visible;
  text-align: center;
}
.skew {
  height: 130px;
  width: 30px;
  position: relative;
  padding: 0;
}
.skew > div {
  display: block;
  position: relative;
  top: 0px;
  left: 65px;
  height: 100%;
  width: 100%;
  transform:skew(-45deg,0deg);
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  overflow: visible; /*hidden;*/
}
.skew > div > div {
  transform:skew(45deg,0deg) rotate(315deg);
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 15px;
  left: 1px;
  display: inline-block;
  width: 100%;
  text-align: left;
  white-space: nowrap;
}
.key {
  overflow: visible;
}
.key > div {
  display: block;
  position: relative;
}
.key > div > div {
  display: block;
  position: absolute;
  top: -20px;
  left: 10px;
  white-space: nowrap;
  font-size: 12px;
  line-height: 15px;
  font-weight: normal;
}
.key-y, .key-p, .key-b, .key-n {
  text-indent: -9999em;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  background-image: url("spritesheet.png");
  background-clip: content-box;
  background-size: 48px 48px;
  overflow: hidden;
}
.key-y { background-position: 0px -12px; }
.key-p { background-position: 0px -24px; }
.key-b { background-position: -12px 0px; }
.key-n { background-position: -24px 0px; }

.y, .p, .b, .n,
.yp, .yb, .yn, .pb, .pn, .bn,
.ypb, .ypn, .ybn, .pbn,
.ypbn {
  display: inline-block;
  text-indent: -9999em;
  width: 15px;
  height: 15px;
  background-image: url("spritesheet.png");
  background-clip: content-box;
  background-size: 60px 60px;
  overflow: hidden;
  vertical-align: middle;
}
.y   { background-position:  0px  -15px; }
.p   { background-position:  0px  -30px; }
.b   { background-position: -15px   0px; }
.n   { background-position: -30px   0px; }
.yp  { background-position:  0px  -45px; }
.yb  { background-position: -15px -15px; }
.yn  { background-position: -30px -15px; }
.pb  { background-position: -15px -30px; }
.pn  { background-position: -30px -30px; }
.bn  { background-position: -45px   0px; }
.ypb { background-position: -15px -45px; }
.ypn { background-position: -30px -45px; }
.ybn { background-position: -45px -15px; }
.pbn { background-position: -45px -30px; }
.ypbn{ background-position: -45px -45px; }