@charset "utf-8";
/* Copyright 2013 Zack Weinberg <zackw@panix.com> and other contributors.
   Copying and distribution of this stylesheet, with or without
   modification, is permitted in any medium without royalty provided
   the copyright notice and this notice are preserved.  It is offered
   as-is, without any warranty. */

@font-face {
  font-family: "tblmarks";
  src: url("tblmarks.eot");
  src: url("f/tblmarks.eot?#iefix") format("embedded-opentype"),
       url("f/tblmarks.woff") format("woff"),
       url("f/tblmarks.ttf") format("truetype");
  unicode-range: U+25C9, U+25CB-25CF, U+2717, U+29BF;
}

table {
  margin: 20px 0 0 20px;
  border-spacing: 0;
  border-collapse: separate;
  border: 0;
  padding: 0;
}
thead, tbody, tr, th {
  text-align: left; vertical-align: bottom;
  padding: 0; margin: 0; border: none;
}
th {
  text-align: left; vertical-align: bottom;
  padding: 0 0 0 1ex; margin: 0; border: none;
}
th[rowspan] {
  vertical-align: top;
  padding-top: 4px;
}
td {
  text-align: center; vertical-align: middle;
  padding: 3px 0; margin: 0; border: none;
  font-family: "tblmarks", sans;
  font-size: 12px;
}

.tableFloatingHeader {
  border-bottom: 1px solid black;
  box-shadow: 0 4px 2px -2px hsla(0,0%,0%,.5);
}

.y /* yes */ { color: green; }
.n /* no */ { color: #ccc; }
.p /* prerequisite */ { color: blue; }
.b /* buggy */ { color: red; }
.h /* header */ { font-family: monospace; padding: 0 0 0 1ex }
.cl /* category leftmost */ { border-left: 1px solid black; }
.ct /* category topmost */ { border-top: 1px solid black; }
.std /* standard */ { width: 8em }

/* background colors */
thead         { background-color: hsl(0,0%,87%); }
.shift > div  { background-color: hsl(0,0%,87%); }
.e /* even */ { background-color: hsl(0,0%,90%); }
.o /* odd */  { background-color: hsl(0,0%,95%); }

.shift > div.e,
.skew  > div.e { background-color: hsl(0,0%,80%); }
.shift > div.o,
.skew  > div.o { background-color: hsl(0,0%,87%); }

th { font-size: 12px; font-family: sans-serif; }

.shift {
  position: relative;
  padding: 0;
}
.shift > div {
  display: block;
  position: relative;
  bottom: 0px;
  left: 130px;
  height: 30px;
  padding: 3px 0;
  overflow: visible;
  text-align: center;
}
.skew {
  height: 130px;
  width: 30px;
  position: relative;
  padding: 0;
}
.skew > div {
  display: block;
  position: relative;
  top: 0px;
  left: 65px;
  height: 100%;
  width: 100%;
  transform:skew(-45deg,0deg);
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  overflow: visible; /*hidden;*/
}
.skew > div > div {
  transform:skew(45deg,0deg) rotate(315deg);
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 15px;
  left: 1px;
  display: inline-block;
  width: 100%;
  text-align: left;
  white-space: nowrap;
}
.key {
  overflow: visible;
}
.key > div {
  display: block;
  position: relative;
}
.key > div > div {
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  white-space: nowrap;
  font-size: 14px;
  font-weight: normal;
}
